
/* Body Styling */

body{
    background-color: rgba(223, 224, 219, 1)
}

body a {
    text-decoration: none;
    color: rgba(42, 40, 41, 1);
}

/* Navigation/Title Styling */

.Title{
    text-align: center;
    font-family: 'Karla', sans-serif;
    /* border: 1px red solid; */
}

.Navigation{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    margin-bottom: 20px
}

.Headline {
    width: cover;
    /* border: 1px red solid; */
}

.nav-grid-item {
    /* border: 1px solid red; */
    padding: 10px;
    font-size: 18px;
    /*insert font styling here*/
    font-family: 'Karla', sans-serif;
    text-align: center;
    transition: 0.3s;
    font-weight: 300px;
}
.nav-grid-item a:hover{
    padding: 10px;
    font-size: 18px;
    /*insert font styling here*/
    font-family: 'Karla', sans-serif;
    text-align: center;
    font-weight: bold;
}

/*Case Study Section*/


.card p{
    text-align: center;
}

#card_1{
    background-color: rgb(133, 201, 169);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    /* border: red 1px solid; */
}

#card_2{
    background-color: rgb(12, 105, 117);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    /* border: red 1px solid; */
}

#card_3{
    background-color: rgb(250, 134, 114);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    /* border: red 1px solid; */
}

#card_4{
    color: rgb(49, 1, 49);
    font-weight: bold;
    border-radius: 10px;
    /* border: red 1px solid; */
}

.btn{
    justify-content: right;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(42, 40, 41, 1);
    color: rgba(223, 224, 219, 1);
    margin: 20px;
    font-weight: 300;
    transition: .3s;
}

.btn:hover {
    justify-content: center;
    padding: 5px;
    background-color: rgba(223, 224, 219, 1);
    color: rgba(42, 40, 41, 1);
    margin: 20px;
}

#inactive_button{
    background-color: rgb(148, 141, 145);
}


.about_me {
    margin: 20px;
}

.skills {
    margin: 20px;
}

/* W3schools instructions */

* {
    box-sizing: border-box;
}
  
body {
    font-family:'Karla', sans-serif;
}
  
  /* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
  /* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Style the counter cards */
.card {
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    font-family:'Karla', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card img{
    width: 100%;
    height: 10%;;
}
  
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 850px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

/* Heading Styling */


/* MJVUX */
h1{
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 4px;
}

h2{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    letter-spacing: 4px;
}

h3{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
}

/* Michael John Venditti */
h4{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    letter-spacing: 4px;
    font-size: 20px;
}

/* UX Research and Design */
h5{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color:  rgba(42, 40, 41, 1);
    font-size: 15px;
}

.Title h5{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

p{
    text-align: left;
    font-family: 'Karla', sans-serif;
}

.about_me h3{
    text-align: left;
    font-weight: 400px;
    font-family:'Karla', sans-serif;
}

.skills h3{
    text-align: left;
    font-weight: 400px;
    font-family:'Karla', sans-serif;
    margin-top: 50px;
}

.about_me img{
    float: right;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}